.nav-list li:nth-child(4){border-bottom-color: hotpink; background-color: hotpink;}
.nav-list li:nth-child(4) a{color: #fff;}
/*movie样式*/
.container{height: 500px; background-color: #000;background: url("../images/resume-bg.jpg") no-repeat center; background-size: cover; margin-top: 5px; padding: 20px 0;}
.container .containerBox{border-radius: 10px; background-color: rgba(255, 255, 255, .3);}
.container .containerBox .swiper-slide{text-align: center; line-height: 500px; color: #fff; font-size: 200px;}